body{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(194, 96%, 10%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(194, 96%, 20%);
    border-radius: 15px;
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: hsl(194, 96%, 25%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 20px;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: none;
    background-color: hsl(194, 96%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(194, 96%, 40%);
}

button:active{
    background-color: hsl(194, 96%, 50%);
}

.operator-btn{
    background-color: hsl(240, 88%, 43%);
}

.operator-btn:hover{
    background-color: hsl(240, 88%, 55%);
}

.operator-btn:active{
    background-color: hsl(240, 88%, 65%);
}